:root {
  --background-color: #fff7f0;
  --primary-color: #755cde;
  --secondary-color: #eb7565;
  --text-color: #030303;
  --font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  font-family: var(--font-family);
}

body {
  background: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body {
  background: var(--background-color);
}
.App {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 50px auto;
}
/*! Home */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  padding: 16px 0 32px;
}
.navbar img {
  width: 64px;
  height: 64px;
}
.navbar .btn {
  background: var(--text-color);
  color: var(--background-color);
  font-weight: 700;
  padding: 0 30px;
  border: 2px solid;
  border-radius: 50px;
}
.navbar .btn:hover {
  background: var(--primary-color);
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
.header {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 50px auto;
}
.header h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.header p {
  text-align: center;
  margin-top: 27px;
  font-size: 18px;
  font-weight: 300;
}
.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
  height: 388px;
}

.skill {
  border-radius: 8px;
  position: relative;
  padding: 20px;
  color: var(--background-color);
}
.skill:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.skill_1 {
  grid-row: span 2;
  width: 333px;
  background: var(--primary-color);
}
.skill_2 {
  background: #f6a560;
  width: 181px;
}
.skill_3 {
  background: #f39e9e;
  width: 181px;
}
.skill_4 {
  background: #61c4b7;
  width: 337px;
}
.skill_5 {
  background: #552049;
  width: 385px;
  grid-column: span 2;
}
.skill_6 {
  background: var(--secondary-color);
  width: 337px;
}
.skill h2 {
  background: transparent;
  position: absolute;
  bottom: 20px;
}
.skill img {
  background: transparent;
  position: absolute;
  right: 15px;
}
/*! About */

.about {
  display: flex;
  max-width: 1200px;
  margin: 130px 100px;
  gap: 10px;
}
.about img {
  width: 300px;
}
.about__me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__me h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 27px;
}
.about__me p {
  margin: 27px;
  font-size: 18px;
  font-weight: 300;
}
.about__me .btn {
  font-weight: 700;
  margin: 0 27px;
  padding: 15px;
  border: 2px solid;
  border-radius: 50px;
  background: var(--secondary-color);
  color: var(--background-color);
  width: 250px;
}
.about__me .btn:hover {
  background: #f39e9e;
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
/*! Work*/
.work {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
.work h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}
.work__btn {
  margin: 35px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.work__btn .btn {
  background: var(--text-color);
  color: var(--background-color);
  font-weight: 700;
  padding: 24px;
  border: 2px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.work__btn .btn:hover {
  background: var(--primary-color);
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
.btn img {
  background: transparent;
}
/*! Contact*/
.contact {
  background: var(--text-color) !important;
  color: var(--background-color);
  max-width: 1000px;
  margin: 90px auto;
  padding: 72px 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-radius: 8px;
}
.contact__info h2 {
  font-size: 42px;
  font-weight: 700;
}
.contact__info p {
  font-size: 18px;
  line-height: 1.5;
  padding: 24px 0;
  font-weight: 650;
}
.contact .btn {
  font-weight: 800;
  margin: 0 27px;
  padding: 20px;
  border-radius: 50px;
  background: var(--secondary-color);
  color: var(--background-color);
  width: 200px;
}
.contact .btn:hover {
  background: #f39e9e;
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
/*! Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  padding: 16px 0 32px;
}
.footer img {
  width: 64px;
  height: 64px;
}
.footer .btn {
  background: var(--text-color);
  color: var(--background-color);
  font-weight: 700;
  padding: 0 30px;
  border: 2px solid;
  border-radius: 50px;
}
.footer .btn:hover {
  background: var(--primary-color);
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
@media (max-width: 1105px) {
  .skills {
    gap: 0.8rem;
    max-width: 692px;
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .skill {
    padding: 10px;
  }
  .skill_1 {
    grid-row: span 3;
    width: 333px;
  }
  .skill_2 {
    width: 337px;
    grid-column: 2;
    grid-row: 1;
  }
  .skill_3 {
    width: 337px;
    grid-column: 2;
    grid-row: 2;
  }
  .skill_4 {
    grid-column: 2;
    grid-row: 3;
    width: 337px;
  }
  .skill_5 {
    width: 333px;
    grid-column: 1;
    grid-row: 4;
  }
  .skill_6 {
    grid-column: 2;
    grid-row: 4;
    width: 333px;
  }
  .skill_5 img,
  .skill_6 img {
    width: 110px;
    height: 64px;
  }
  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__me {
    justify-content: center;
  }
  .contact {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 72px 30px;
  }
}
@media (max-width: 690px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    max-width: 1100px;
    height: 1000px;
  }
  .skill_1 {
    grid-column: 1;
    grid-row: 1;
    width: 315px;
  }
  .skill_1 img {
    width: 110px;
    height: 110px;
  }
  .skill_2 {
    width: 315px;
    grid-column: 1;
    grid-row: 2;
  }
  .skill_3 {
    width: 315px;
    grid-column: 1;
    grid-row: 3;
  }
  .skill_4 {
    grid-column: 1;
    grid-row: 4;
    width: 315px;
  }
  .skill_5 {
    width: 315px;
    grid-column: 1;
    grid-row: 5;
  }
  .skill_6 {
    grid-column: 1;
    grid-row: 6;
    width: 315px;
  }
}
@media (max-width: 540px) {
  .navbar {
    margin: 0 40px;
  }
  .footer {
    margin: 0 40px;
  }
  .work__img {
    width: 300px;
  }
}
Responsiveness